html {
  display: flex;
  justify-content: center;
  background-color: black;
}

body {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  background-image: url("../Assets/Illustrations/Bathome1.png");
  background-repeat: no-repeat;
  background-position: center top;
  color: white;
  width: 70%;
  padding: 1vh 10% 0% 10%;
}

a {
  all: unset;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

nav {
  font-family: "Rajdhani", sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > div {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

#hero {
  height: 117vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#hero-content {
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

#hero-content > p {
  text-align: center;
  width: 52%;
}

#btns-wrapper {
  display: flex;
  width: 70%;
  height: 30%;
  justify-content: space-evenly;
}

.button {
  display: flex;
  width: 40%;
  height: 75%;
  margin: 1%;
  background: linear-gradient(0.25turn, #eddebf69, #19587d42);
  justify-content: center;
  align-items: center;
  transition: background 0s;
}

.button:hover {
  background: linear-gradient(0.25turn, #eddebf, #19587d);
}

#cinema > p,
#nemesis > p,
#allies > p {
  margin: 0% 8% 5% 8%;
}

.batmans {
  display: flex;
  justify-content: space-evenly;
}

.batmans .text-centered {
  text-align: center !important;
}

.text-justified {
  text-align: justify !important;
}

.carouselItem {
  display: flex;
  width: 30vw;
  font-size: 12px;
  align-items: center;
  background-color: #252525;
  border-radius: 10px;
}

.carouselItem > div {
  padding-right: 2%;
  padding-left: 2%;
}

#multimedia > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.video-container {
  position: relative;
  display: inline-block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video-container > video {
  display: flex;
}

#newsletter {
  background: linear-gradient(0.37turn, #4f4b41, #0b1f2b);
}

#newsletter {
  height: 70vh;
}

form {
  margin-left: 20%;
  margin-right: 20%;
}

form > input[type="text"],
form > input[type="email"] {
  all: unset;
  border-bottom: 1px gray solid;
  width: 100%;
}

select > option {
  background: linear-gradient(0.37turn, #4f4b41, #0b1f2b);
}

select {
  border-bottom: 1px gray solid;
  border-radius: 0px;
}

button[type="submit"] {
  all: unset;
  display: flex;
  width: 35%;
  height: 10%;
  margin: 1%;
  background: linear-gradient(0.25turn, #797773, #5a0e1a);
  justify-content: center;
  align-items: center;
  transition: background 0s;
}

#submit-container {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#radios {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Radio button styles */
.btn {
  float: left;
  margin: 0 5px 0 0;
  width: 120px;
  height: 60px;
  position: relative;
}

.btn label,
.btn input {
  display: block;
}

.btn input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.btn input[type="radio"]:checked + label {
  background: linear-gradient(0.37turn, #4f4b41, #373c3f);
}

.btn input[type="radio"]:hover + label {
  background: linear-gradient(0.37turn, #4f4b41, #373c3f);
}

.btn label {
  text-align: center;
  margin: 1%;
  cursor: pointer;
  line-height: 1.8em;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(119, 118, 97), rgb(116, 101, 124))
    1;
}
